*{
    margin: 0;
    padding: 0;
}

.top, .top2 {
    font-family: 'Unbounded';
    background-color: #7cb6b6;
    display: flex;
    justify-content: center;
}

form{
    background-color: #196464;
    width: 100%;
    height: 86.3%;
    display: flex;
    padding: 5%;
    justify-content: center ;
}

.elementos{
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 75vh;
    justify-content: center;
    background-color: #7cb6b6;
    padding: 2%;
    border: solid 2px black;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 2vh;
    font-family: 'Unbounded';
    font-size: large;
    text-shadow: 3px 3px 3px #ababab;
}

@media (max-width: 1280px) {
    
    form{
        height: 90vh;
        padding: 10%;
    }
    
    .elementos{
        height: 55vh;
        width: 55vh;
        background-color: #7cb6b6;
        padding: 3%;
    }
}